@model PasswordDTO

<style>
    label {
        font-size: 15px;
    }

    #title {
        padding: 30px 0 20px 30px;
    }

    .field {
        margin: 30px 0 0 0;
    }

    .btn {
        margin: 60px 0 40px 0;
    }

    .container i {
        cursor: pointer;
    }
</style>

@section Script{
@*To show and hide password by clicking on eye
    Need 3 as there are 3 text fields that require the eye
*@
<script type="text/javascript">
    $(function () {
              $("#toggleCurrentPassword").click(function () {
                  $(this).toggleClass("fa-eye-slash");
                  var x = $("#CurrentPwd").attr("type");
                  if (x == "password")
                  {
                      $("#CurrentPwd").attr("type","text");
                  }
                  else
                  {
                      $("#CurrentPwd").attr("type","password");
                  }

              });

              $("#toggleNewPassword").click(function () {
                  $(this).toggleClass("fa-eye-slash");
                  var x = $("#NewPwd").attr("type");
                  if (x == "password")
                  {
                      $("#NewPwd").attr("type","text");
                  }
                  else
                  {
                      $("#NewPwd").attr("type","password");
                  }

              });

              $("#toggleConfirmPassword").click(function () {
                  $(this).toggleClass("fa-eye-slash");
                  var x = $("#ConfirmPwd").attr("type");
                  if (x == "password")
                  {
                      $("#ConfirmPwd").attr("type","text");
                  }
                  else
                  {
                      $("#ConfirmPwd").attr("type","password");
                  }

              });
          });

</script>
}
@*GREY BACKGROUND*@
<div class="container col-lg-6" style="background-color:#D8D8D8;">

    @*TITLE*@

    <div class="row" id="title">
        <p class="h1">Change Password</p>
    </div>

    <form asp-controller="Account" asp-action="ChangePassword" method="post">

        @*CURRENT PASSWORD TEXT FIELD*@
        <div class="row form-group field">
            <label asp-for="CurrentPwd" class="form-label offset-1 col-lg-2">Current Password:</label>
            <div class="col-lg-5 col-sm-7 col-10 offset-1 input-group">
                <input asp-for="CurrentPwd" class="form-control form-control-sm" />
                @*To show and hide password by clicking on eye and append it to Password Field*@
                <div class="input-group-append">
                    <span class="input-group-text form-control form-control-sm">
                        <i id="toggleCurrentPassword" class="fa fa-eye fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            <span asp-validation-for="CurrentPwd" class="text-danger col-lg-3 offset-1 offset-lg-0"></span>
        </div>

        @*NEW PASSWORD TEXT FIELD*@
        <div class="row form-group field">
            <label asp-for="NewPwd" class="form-label offset-1 col-lg-2">New Password:</label>
            <div class="col-lg-5 col-sm-7 col-10 offset-1 input-group">
                <input asp-for="NewPwd" class="form-control form-control-sm" />
                @*To show and hide password by clicking on eye and append it to Password Field*@
                <div class="input-group-append">
                    <span class="input-group-text form-control form-control-sm">
                        <i id="toggleNewPassword" class="fa fa-eye fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            <span asp-validation-for="NewPwd" class="text-danger col-lg-3 offset-1 offset-lg-0"></span>
        </div>

        @*CONFIRM PASSWORD TEXT FIELD*@
        <div class="row form-group field">
            <label asp-for="ConfirmPwd" class="form-label offset-1 col-lg-2">Confirm Password:</label>
            <div class="col-lg-5 col-sm-7 col-10 offset-1 input-group">
                <input asp-for="ConfirmPwd" class="form-control form-control-sm" />
                @*To show and hide password by clicking on eye and append it to Password Field*@
                <div class="input-group-append">
                    <span class="input-group-text form-control form-control-sm">
                        <i id="toggleConfirmPassword" class="fa fa-eye fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            <span asp-validation-for="ConfirmPwd" class="text-danger col-lg-3 offset-1 offset-lg-0"></span>
        </div>

        @*UPDATE BUTTON*@
        <div class="row">
            <div class="col-lg-9 col-7"></div>
            <input type="submit" value="Update"
                   class="btn btn-sm btn-primary col-lg-2 col-3" />
        </div>
    </form>
</div>

