@model Inventory

<h1 class="">Location @Model.Location</h1>

<div class="container d-flex justify-content-center pt-5">
    <iframe width='640' height='480' src='https://rtsp.me/embed/T66fiSeF/' frameborder='0' allowfullscreen></iframe>
    @*<video autoplay width="700" height="500" src="http://localhost:8080/stream"/>*@
</div>